*,
*::before,
*::after {
    margin: 8px;
    padding: 0px;
    box-sizing: inherit;
}


html {
    box-sizing: border-box;
    font-size: auto;
    font-family: Tahoma, Verdana, sans-serif;
}

.ceramictop {
    background-image: url("./UX-HTML-CSS/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg");
    margin: 20px;
    padding: 117px;
    box-sizing: inherit;
    height: 542px;
    width: 100%;
    color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
}

.image1 {
    height: 26rem;
    width: 22rem;
    float:left;

}

.image2 {
    height: 26rem;
    width: 22rem;
    float:right;
}