*,
*::before,
*::after {
    margin: 8px;
    padding: 0px;
    box-sizing: inherit;
}

nav {
    text-decoration: none;
    display: flex;
    align-items: center;
}

html {
    box-sizing: border-box;
    font-size: auto;
    font-family: Tahoma, Verdana, sans-serif;
    background-color: #faf9f6;
   }


.ceramic_top {
    background-image: url("./UX-HTML-CSS/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg");
    margin: 20px;
    padding: 117px;
    box-sizing: inherit;
    height: 542px;
    width: 100%;
    color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
}

.image1{
    height: 247px;
    float: left
}

.image2 {

    height: 289px;
    float: right 
}
.product_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;
}


div h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_cart {
    display: flex;
    justify-content: right;
    align-items: center;
}

.logo_image {
    height: 40px;
}

.image {
width: 275px;
height: 240px;
}

.para{
    display: flex;
    justify-content: right;
}

.navbar {
    display: flex;
    justify-content: space-between;  
}

.section_head {
    height: 7px;
    background-color: black;
}


footer {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 31px;
}

.our_products{
    margin: 99px;
}

.footer_image{
    background-color: black;
}